<div class="related">
    {% assign hasSimilar = '' %}
    {% for post in site.posts  %}
        {% assign postHasSimilar = false %}
                    <h4>Related Posts</h4>
                    <ul>
                    {% endif %}
                    <li class="relatedPost">
                        <a href="{{ site.url }}{{ post.url }}">{{ post.title }}
                        {% if post.series %}
                            (Series: {{ post.series }})
                        {% endif %}
                        </a>
                    </li>
                    {% capture hasSimilar %}{{ hasSimilar }}*{% endcapture %}
                    {% assign postHasSimilar = true %}
                {% endif %}
            {% endfor %}
        {% endfor %}
    {% endfor %}
    {% if hasSimilar.size > 0 %}
        </ul>
    {% endif %}
</div>
